# Brownie
__pycache__
.history
.hypothesis/
build/
reports/

# Logs
logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OpenZeppelin SDK
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
.openzeppelin/.lock
@openzeppelin
OpenZeppelin/
iearn-finance/

# Dependency directories
node_modules/

# project artifacts
build/*
flattened/*
solc
echidna-test*

# TypeScript types
types/*

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Environment
.env

# coverage/profiler report
coverage
coverage.json

# MacOS junk
.DS_Store

# Standard and test contracts
AddressUpgradeable.json
Base.json
CapperRole.json
Context.json
ContextUpgradeable.json
ERC20.json
ERC20Detailed.json
ERC20Upgradeable.json
IERC20.json
IERC20Upgradeable.json
IERC20Mintable.json
Initializable.json
MerkleProofUpgradeable.json
Module.json
ModuleNames.json
Ownable.json
OwnableUpgradeable.json
PausableUpgradeable.json
ReentrancyGuardUpgradeable.json
RewardManagerRole.json
RewardVestingModule.json
Roles.json
SafeERC20.json
SafeERC20Upgradeable.json
SafeMath.json
SafeMathUpgradeable.json
TestADEL.json
TestERC20.json
TestRegistryV2.json
TestRewardVestingModule.json
TestStakingPoolBase.json
TestStakingPool.json
UpgradeTestNew.json
UpgradeTestOld.json